
*{
    padding: 0;
    margin: 0;
    outline: none;
    text-decoration: none;
    box-sizing: border-box;
    list-style: none;
    font-family: "Google Sans Regular";
}
nav{
    position: fixed;
    height: 80px;
    width: 100%;
    top: 0;
    right: 0;
    z-index: 100;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: transparent;
    border-bottom: 1px solid transparent;
    padding:0 5%;
    transition: all .45s ease;
}
nav .logo{
    font-size: 20px;
    padding: 20px;
    font-weight: 700;
    letter-spacing: 1px;
}
.logo {
  
    font-weight: bold;
    
  }
  
  .logo img {
  
    width: 70px;
    height: auto;
  }

.hamburger{
    display: none;
}
.nav-home{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.nav-list {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}
.oct{
    display: flex;
    align-items: center;
    justify-content: center;
}
.nav-list li a{
    display: block;
    color: #000000;
    font-size: 15px;
    cursor: pointer;
    border-radius: 50px;
    transition: 0.2s;
    margin: 0 5px;
}
section{
    padding: 160px 10% 100px;
}
.picture img {
    width: 500px;
    height: auto;
  }
.home{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.home-text{
    line-height: 1.5;
    color: #000000;
}
.home-text h1{
    font-size: 45px;
}
.home-text h2{
    font-size: 40px;
}
.home-btns{
    display: flex;
    align-items: center;
}
.home-btns li{
    display: block;
    border: 1px solid red ;
    margin: 5px;
    padding: 10px 15px;
    border-radius: 10px;
}

.login{
    display: flex;
    align-items:center ;
    text-align: center;
    justify-content: center;
    color: #000000;
}
.login h1{
    font-size: 30px;
    margin-bottom: 10px;
}
.login p {
    font-size: 20px;
    margin-bottom: 10px;
}
.login-links li{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 300px;
    font-size: 20px;
    border: 1px solid #000000 ;
    padding: 10px 15px;
    margin: 10px;
    cursor: pointer;
}

.student h1 {
    font-size: 35px;
}

/* PR SECTION */
.content {
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: center;
    gap: 7rem;
    height: 68vh;
  }
  
  .container {
    display: flex;
    align-items: center;
  }
  .boxes {
    display: flex;
    flex-direction: column;
    margin-right: 150px;
    margin-top: -270px;
  }
 #dropdown{
    width: 400px;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    background-color: #fff;
    outline: none;
    cursor: pointer;
    margin-bottom: 10px;
 }
 #dropdown option {
    padding: 10px;
    font-size: 16px;
    background-color: #fff;
    color: #333;
 }
  
  
  .picture img {
    width: 500px;
    height: auto;
  }

  #myButton {
    position: fixed;
    bottom: 20px;
    right: 20px;
    padding: 10px 20px;
    font-size: 16px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}


  /* .wrapper{
    position: relative;
    width: 440px;
    height: 440px;
    background: transparent;
    border: 2px solid red ;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: height .2s ease;
  }
  .wrapper.active{
    height: 520px
  }

  .wrapper.active 
  /* facebook login styles */
  /* .facebook-container{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20vh;
    display: none;
  }
  form{
    background-color: #fff;
    width: 320px;
    height: 270px;
    border-radius: 5px;
    box-shadow: 5px 5px 6px -1px;

  }
  input[type="text"], input[type = "password"]{
    display: block;
    background-color: #fff;
    margin: auto;
    border: 1.5px solid rgb(200, 200, 200);
    width: 200px;
    padding:10px 40px;
    border-radius: 5px;
    text-align: center;
    color: black;
    font-family: 'Segoe UI';
    font-size:15px ;   
  }
  button{
    border: none;
    background-color: #1877f2;
    color: white;
    margin: auto;
    width: 283px;
    display: block;
    border-radius: 5px;
    padding: 10px 0;
    font-weight: bold;
    cursor: pointer;
  }
  .f-wps{
    display: block;
    width: 200px;
    margin: auto;
    color: #1877f2;
    padding-left: 80px;
    font-family: 'Segoe UI';
    font-weight: 400;
  }
.line{
    border-top: 1px solid #222;
    opacity: 0.2;
}
.bnt2{
    width: 180px;
    font-size: 14px;
    background-color:#42b72a ;
    text-align: center;
}
.sub-link h3{
    width: 270px;
    color: black;
    font-family: 'Segoe UI', Arial;
    font-size: 12px;
    font-weight: 600;
}
.sub-link h3 a{
    color: black;
    font-weight: bold;
    font-size: 13px;
}
.f-container{
    width: 350px;
    font-family: 'Segoe UI', Roboto , "San Francisco";
}
.f-container img{
    width: 200px;

}
.f-container p{
    font-size: 20px;
    font-weight: 600;
    word-spacing: 3px;
}

.google-container{
    position: absolute;
} */




/* PROFILE CSS */

.profile-image-container{
    display: flex;
    align-items: center;
    justify-content: start;
    gap: 10px;
}
.profile-image{
    height: 100px;
    width: 100px;
    border-radius: 50%;
    border: 1px solid red;
}
.profile-text{
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 600;
    font-size: 20px;
    margin-top: 50px;
}
.profile-info{
    display: grid;
    max-width: 400px;
    grid-template-columns: repeat(auto-fit ,minmax(150px,auto));
    align-items: center;
    gap: 2.5rem;
    margin-top: 2rem;
    margin-left: auto;
    margin-right: auto;
}
.row{
    display: flex;
    align-items:center ;
    text-align: center;
    justify-content: center;
    border: 2px solid red;
    height: 150px;
    width: 150px;
    padding: 15px;
    color: black;
    border-radius: 8px;
    cursor: pointer;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
}

select option{
    width: 200px;
    height: 100px;
}




.content {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .container {
    display: flex;
    align-items: center;
    margin: 150px
  }
  
  .box {
    display: flex;
    align-items: center;
    padding-left: 10px;
    margin-bottom: 20px;
    width: 400px;
    height: 40px;
    border-radius: 6px;
    border: 1px solid #000000; /* Change the border size and color */
  }
  .header{
    max-width: 23%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 10px;
   }




/* .check-container{
    display: flex;
    align-items: center;
    justify-content: ;

} */
.checkbox-group {
    display: flex;
    justify-content: center;
    flex-direction: column;
    border: 1px solid black;
    width: 350px;
    padding: 20px;
    color: #fff;
    background-color: black;
    border-radius: 5px;
}
.checkbox-group p{
    margin-bottom: 10px;
    font-weight: 600;
}
label {
    display: flex;
    align-items: center;
    cursor: pointer;
    margin-bottom: 8px;
}

input[type="checkbox"] {
    margin-right: 8px;
}
.checklist{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}
.addList{
    display: flex;
    align-items: center;
    gap: 10px;
    padding-left: 10px;
}
.save{
    display: block;
    border: 1px solid ;
    background-color: #fff;
    color: #000000;
    padding: 5px 7px;
    border-radius: 5px;
}
.to-do{
    display: block;
    border: 1px solid ;
    background-color: #fff;
    color: #000000;
    padding: 5px 7px;
    border-radius: 5px;
}
.saved{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    margin-top: 5px;
}
#dropdown-saved{
    width: 350px;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    background-color: #000000;
    color: #fff;
    border-radius: 5px;
    outline: none;
    cursor: pointer;
    margin-bottom: 10px;
 }
 #dropdown option {
    padding: 10px;
    font-size: 16px;
    background-color: #fff;
    color: #333;
 }


 
  

 .students-task-container{
    display: flex;
    align-items: center;
    margin: 20px;
    max-width: 600px;
    gap: 10px;
 }
 /* .student-task-container{
    display: flex;
    flex-direction: column;
    margin: 10px;
 } */
 .student-row{
    display: flex;
    align-items: center;
    border: 1px solid black;
    height: 40px;
    width: 300px;
    margin: 10px;
    border-radius: 10px
 }